@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DePixelHalbfett";
  src: url("assets/fonts/depixelhalbfett.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Carlito";
  src: url("assets/fonts/Carlito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Carlito";
  src: url("assets/fonts/Carlito-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lilita One";
  src: url("assets/fonts/LilitaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Explorer";
  src: url("assets/fonts/Explorer.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.night-outline {
  -webkit-text-stroke-width: 8px;
  -webkit-text-stroke-color: #ace1b2;
  paint-order: stroke fill;
  text-shadow: 0 0 8px #ace1b2;
}

.day-outline {
  -webkit-text-stroke-width: 8px;
  -webkit-text-stroke-color: #203737;
  paint-order: stroke fill;
}

.yt-thumbnail-text {
  text-shadow: 10px 10px 12px rgba(0, 0, 0, 1);
}

.yt-thumbnail-text-logo {
  text-shadow: 8px 10px 6px rgba(0, 0, 0, 1);
}

.yt-thumbnail-text-logo-year {
  text-shadow:
    6px 5px 8px rgba(0, 0, 0, 1),
    3px 7px 4px rgba(0, 0, 0, 1);
}

@layer base {
  img {
    @apply inline-block;
  }
}

@layer utilities {
  .bg-schedule-layout-25 {
    background-image: url("assets/images/Background.png");
  }

  .schedule-layout-25-text-shadow-dark {
    text-shadow: 5px 5px #150477;
  }

  .bg-scan-lines {
    opacity: 0.1;
    --scan-line-thickness: 5px;
    background: linear-gradient(
      transparent,
      transparent var(--scan-line-thickness),
      black var(--scan-line-thickness),
      black calc(2 * var(--scan-line-thickness))
    );
    background-repeat: repeat-y;
    background-size: 100% calc(2 * var(--scan-line-thickness));
  }
}

*:focus-visible {
  outline-offset: 2px;
}
