@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DePixelHalbfett";
  src: url("assets/fonts/depixelhalbfett.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Carlito";
  src: url("assets/fonts/Carlito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.night-outline {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #ACE1B2;
}

@layer base {
  img {
    @apply inline-block;
  }
}